# Database administrative login by Unix domain socket
local   all             postgres                                peer


# TYPE  DATABASE        USER            ADDRESS                 METHOD
# "local" is for Unix domain socket connections only
local   all             dalkia                                md5
# IPv4 local connections:
host    all             all             127.0.0.1/32            md5
# IPv6 local connections:
host    all             all             ::1/128                 md5


# Allow replication connections from localhost, by a user with the
# replication privilege.
host     replication     rep             {{ ip_prod1 }}/32       md5
host     replication     rep             {{ ip_prod2 }}/32       md5
host     replication     rep             {{ ip_virtual }}/32       md5
host     all             postgres        {{ ip_prod1 }}/32       md5
host     all             postgres        {{ ip_prod2 }}/32       md5
host     all             postgres        {{ ip_virtual }}/32       md5
host     postgres        postgres        {{ ip_prod1 }}/32       md5
host     postgres        postgres        {{ ip_prod2 }}/32       md5
host     postgres        postgres        {{ ip_virtual }}/32       md5
