host     dalkia          dalkia          {{ ip_prod1 }}/32       md5
host     dalkia          dalkia          {{ ip_prod2 }}/32       md5
host     dalkia          dalkia          {{ ip_virtual }}/32       md5
host     all             all             127.0.0.1/24           md5
